<div >
  <md-content layout="row" layout-fill>
    <md-whiteframe class="md-whiteframe-z1" flex ng-repeat="item in forecastItems">
      <h3>{{ item.city.name }}</h3>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="day in item.list">
          <img ng-src="http://openweathermap.org/img/w/{{day.weather[0].icon}}.png" class="md-avatar"/>
          <div class="md-list-item-text">
            <time datetime="{{now+($index*86400000) | date:'dd/MM/yyyy h:mma' }}">{{now+($index*86400000) | date:'dd/MM/yyyy' }}</time>
            <p><span>{{ day.weather[0].description}} {{$index}}</span></p>
            <p>{{ day.temp.day }}<sup>o</sup></p>
          </div>
        </md-list-item>
      </md-list>
    </md-whiteframe>
  </md-content>
</div>
