

<div layout="column">

  <city-search ng-if="allCities" all-cities="allCities" ></city-search>
  <div>
    <md-progress-linear ng-show="isProgress" md-mode="indeterminate"></md-progress-linear>
  </div>
  <br><br>
  <forecasts forecast-items="forecasts"></forecasts>

</div>
