<md-content class="md-padding autocomplete" layout="column" style="overflow: visible;" ng-hide="$parent.isProgress">
  <p>Şehir Seçiniz</p>
  <tags-input ng-model="tags"
              display-property="display"
              placeholder="Şehir Seçiniz"
              add-from-autocomplete-only="true"
              on-tag-added="tagAdded($tag)"
              on-tag-removed="tagRemoved($tag)"
              max-tags="5"
              template="my-custom-template">
      <auto-complete source="loadTags($query)"></auto-complete>
  </tags-input>


  <script type="text/ng-template" id="my-custom-template">
      <md-button class="md-raised md-primary">
        {{$getDisplayText()}}
        <md-icon md-svg-src="assets/images/close.svg" ng-click="$removeTag()"></md-icon>
      </md-button>

    </script>
</md-content>
